
<div id="container">
  <div class= "signup">
    <h1 id="company">Monthly Markers</h1>
    <%=form_tag sessions_path do %>
    <div>
      Email: <%= text_field_tag :email, params[:email], class: "form-control"%><br>
      Password: <%= password_field_tag :password, nil, class: "form-control"%><br>
    </div>
      <%=submit_tag 'Log In', class: "btn btn-primary btn-lg login" %>
    <%end %>

    Not a Member?<br>
  <%=link_to "Join", '/join', class: 'btn btn-primary btn-lg join'%>

  </div>
</div>
