
<div id="container">
  <div class= "signup col-md-5 col-md-offset-3">
    <h1 id="company">Monthly Markers</h1>
    <%=form_tag sessions_path do %>
    <div>
      Email: <%= text_field_tag :email, params[:email]%><br>
      Password: <%= password_field_tag :password, nil%><br>
    </div>
      <%=submit_tag 'Log In' %>
    <%end %>


  <%=link_to "Signup", '/join', class: 'btn btn-primary'%>

  </div>
</div>
