
<h1>How Often Should We Ship?</h1>

<%=form_for @order do |o| %>
<h3><%=o.hidden_field 'frequency', :value => "Monthly".to_s%></h3>
<%=o.submit 'Monthly'%>
<%end%>

<%=form_for @order do |o|%>
<h3><%=o.hidden_field 'frequency', :value => "Every Other Month".to_s%></h3>
<%=o.submit 'Every Other Month'%>
<%end%>

<%=form_for @order do |o|%>
<h3><%=o.hidden_field 'frequency', :value => "Every 3 Months"%></h3>
<%=o.submit 'Every 3 Months'%>
<%end%>
