
<h1 class="text-center whiteBoardHeader">Your Box</h1><br>

<div class="col-md-6 col-md-offset-3">
  <div class="infoLine">
    <p class="col-md-10"><%=@plan + " Markers"%></p>
    <p class="col-md-2">$<%=@order_products.first.product.price%></p><br>
  </div>

  <%@order_products[1..@order_products.count].each_with_index do |op, i|%>
  <div class="infoLine">
    <p class="col-md-10"><%=op.product.name%></p>
    <p class="col-md-2">$<%=op.product.price%></p><br>
  </div>
    <%@order_products.first.product.price = @order_products.first.product.price + op.product.price%>
  <%end%>
  <hr>
  <div class="infoLine">
    <p class="col-md-10">Total:</p>
    <p class="col-md-2">$<%=@order_products.first.product.price %></p>
  </div>

</div>
