<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <% unless @hide_nav %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="page"><a href="#">Account</a></li>
            <li class="page"><a href="#">Box</a></li>
            <% if logged_in? %>
              <li class= "page"><%=link_to 'Logout', logout_path %></li>
            <% else %>
              <li class= "page"><%=link_to 'Login', new_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% end %>
<%= yield %>

</body>
</html>
