
<h1 class="text-center whiteBoardHeader">My Account</h1>

<div class="productSection col-md-7 col-md-offset-1">
  <div>
    <%=image_tag "erasers.jpg", class: "product-pic"%>
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Erasers", class: "add btn btn-primary btn-lg" %><br>
  </div>

  <div>
    <%=image_tag "cloth.jpg", class: "product-pic"%>
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Cleaning Cloth", class: "add btn btn-primary btn-lg" %><br>
  </div>

  <div>
    <%=image_tag "spray.jpg", class: "product-pic"%>
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Eraser Fluid", class: "add btn btn-primary btn-lg" %><br>
  </div>
</div>


  <div class="sidebar col-md-4">
    <div class="text-center">
        <%=image_tag(@pic, class: "member-pic")%><br>
    </div>
    <div class="account">
      <div class="infoLine">
        <div class="col-md-8">
          Plan: <%=@member.order.plan %>
        </div>
        <div class="col-md-4 text-right">
          <%=link_to "edit", change_plan_path%>
        </div>
    <br>
      <div class="infoLine">
        <div class="col-md-8">
          Frequency: <%=@member.order.frequency %>
        </div>
        <div class="col-md-4 text-right">
          <%=link_to "edit", change_frequency_path%>
        </div>
      </div>
    <br>
      <div class="infoLine">
        <div class="col-md-8">
          Bill Date: <%=@recurrence %>
        </div>
      </div>
    <br>
      <div class="infoLine">
        <div class="col-md-8">
          Email: <%=@member.email %>
        </div>
        <div class="col-md-4 text-right">
          <%=link_to "edit", change_email_path%>
        </div>
      </div>
    <br>
      <div class="infoLine">
        <div class="col-md-8">
          Shipping: <br>
          <%=@member.address %>
        </div>
        <div class="col-md-4 text-right">
          <%=link_to "edit", change_address_path%>
        </div>
      </div>
  </div>
</div>
