
  <h1 class="text-center">My Account</h1>
<div class="productSection col-md-7 col-md-offset-1">
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Erasers" %><br>
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Cleaning Cloth" %><br>
    <%=link_to "ADD", "/account/#{@member.id}/add_extras?product=Eraser Fluid" %><br>
</div>


  <div class="sidebar col-md-4">
        <%=image_tag(@pic, class: "member-pic")%><br>
        Plan: <%=@member.order.plan %><%=link_to "edit", change_plan_path%><br>
        Frequency: <%=@member.order.frequency %><%=link_to "edit", change_frequency_path%><br>

        Email: <%=@member.email %><%=link_to "edit", change_email_path%><br>
        Shipping: <br><%=@member.address %><%=link_to "edit", change_address_path%><br>
        <br>

  </div>
</div>
