
<h1 class="text-center">Pick A Plan</h1>

  <div class="plans">
<%= image_tag('black.jpg', class: "col-md-2 col-md-offset-1")%><br>
<%= image_tag('fine_point.jpg', class: "col-md-2 col-md-offset-1")%><br>
<%= image_tag('multicolor.gif', class: "col-md-2 col-md-offset-1")%><br>
  </div>
  <div class="select">
    <%=form_for @order do |o| %>
      <h3><%=o.hidden_field 'plan', :value => "Regular".to_s%></h3>
      <%=o.submit 'Regular', class: 'col-md-2 col-md-offset-1 text-center'%>
    <%end%>

    <%=form_for @order do |o|%>
      <h3><%=o.hidden_field 'plan', :value => "Fine".to_s%></h3>
      <%=o.submit 'Fine', class: 'col-md-2 col-md-offset-1 text-center'%>
    <%end%>

    <%=form_for @order do |o|%>
      <h3><%=o.hidden_field 'plan', :value => "Multicolor".to_s%></h3>
      <%=o.submit 'Multicolor', class: 'col-md-2 col-md-offset-1 text-center'%>
    <%end%>

  </div>
