
<h1>Finish Up </h1>


<%=form_for @member do |m| %>
  <h2>Account Info:</h2>
    Email: <%=m.text_field :email %><br>
    Password: <%=m.password_field :password%> <br>
    <%= m.hidden_field :plan, :value => params[:plan].to_s%> <br>
    <!-- <%= m.hidden_field :status, :value => "active".to_s%> <br>
    <%= m.hidden_field :frequency, :value => "monthly".to_s%> <br> -->
  <hr>
  <h2>Shipping:</h2>
    Address: <%=m.text_field :address %><br>
  <hr>
  <h2>Billing:</h2>
      Card # <%=m.text_field :cc %><br>
    <hr>
      <%=m.submit 'Create Account'%><br>
    <hr>
<%end%>
