<div class="container">
<h1 class="text-center">Pick A Plan</h1>

  <div class="plans">
<%= image_tag('black.jpg', class: "col-md-2 col-md-offset-1")%><br>
<%= image_tag('fine_point.jpg', class: "col-md-2 col-md-offset-1")%><br>
<%= image_tag('multicolor.gif', class: "col-md-2 col-md-offset-1")%><br>
  </div>
  <div class="select">
<%=link_to 'Select', "/join/add?plan=Regular", class: 'col-md-2 col-md-offset-1 text-center'%>
<%=link_to 'Select', "/join/add?plan=Fine", class: 'col-md-2 col-md-offset-1 text-center'%>
<%=link_to 'Select', "/join/add?plan=Multicolor", class: 'col-md-2 col-md-offset-1 text-center'%>
  </div>
</div>
