
<h1 class="text-center whiteBoardHeader">Pick A Plan</h1>

  <!-- <div class="row">
<%= image_tag('black.jpg', class: "col-sm-2 col-md-offset-1 planPic")%>
<%= image_tag('fine_point.jpg', class: "col-sm-2 col-md-offset-1 planPic")%>
<%= image_tag('multicolor.gif', class: "col-sm-2 col-md-offset-1 planPic")%>
  </div>
  <div class="row">
<%=link_to 'Select', "/join/add?plan=Regular", class: 'col-md-2 col-md-offset-1 text-center btn btn-primary btn-lg'%>
<%=link_to 'Select', "/join/add?plan=Fine", class: 'col-md-2 col-md-offset-1 text-center btn btn-primary btn-lg'%>
<%=link_to 'Select', "/join/add?plan=Multicolor", class: 'col-md-2 col-md-offset-1 text-center btn btn-primary btn-lg'%> -->
  <!-- </div> -->
<div class="col-md-4 planCenter">
  <%= image_tag('black.jpg', class: "planPic")%>
  <br>
  <h3 class="text-center">Regular</h3>
  <%=link_to 'Select', "/join/add?plan=Regular", class: 'text-center btn btn-primary btn-lg'%>
  <br>
  <h3 class="text-center planPrice">$3</h3>
</div>

<div class="col-md-4 planCenter">
  <%= image_tag('fine_point.jpg', class: "planPic")%>
  <br>
  <h3 class="text-center">
  <%=link_to 'Select', "/join/add?plan=Fine", class: 'text-center btn btn-primary btn-lg'%>
  <br>
  <h3 class="text-center planPrice">$4</h3>
</div>

<div class="col-md-4 planCenter">
  <%= image_tag('multicolor.gif', class: "planPic")%>
  <br>
  <%=link_to 'Select', "/join/add?plan=Multicolor", class: 'text-center btn btn-primary btn-lg'%>
</div>
